a {
    font-family: $pt;
    color: $spanish-gray;
}

h1 {
    font-family: $pt;
    font-size: $medium;
}

.boton-nav1 {
    font-family: $pt;
}

.boton-nav2 {
    font-family: $pt
}

h4 {
    font-family: $pt;
}

.p-principal {
    font-family: $pt;
}